<div class="card">
  <form [formGroup]="editForm" (ngSubmit)="onFormSubmit()">
    <div class="form-field">
      <label style="padding-top: 2%;" class="form-label" for="email">Email</label>
      <input pInputText class="form-control" formControlName="email" id="email" type="email" placeholder="email">
    </div>
    <div class="form-field">
      <label class="form-label" for="message">message</label>
      <textarea pInputTextarea class="form-control" formControlName="message" id="message" type="textarea" maxlength="3"
        placeholder="message">
        </textarea>
    </div>
    <div class="flex justify-content-center">
      <p-button type="submit" label="Envoyer" [disabled]="editForm.invalid" severity="primary" />
    </div>
  </form>
</div>

<p-dialog [(visible)]="messageEnvoye" [style]="{ width: '400px', borderRadius: '12px' }"
  contentStyleClass="flex flex-col p-5" [showHeader]="false">
  <div class="text-green-600 text-4xl">
    <i class="pi pi-check-circle"></i>
  </div>
  <p class="text-gray-600 mb-4">Demande de contact envoyée avec succès.</p>
  <p-button pButton [style]="{ height:'10px' }" type="button" (click)="closeDialog()" label="Fermer"
    severity="help"></p-button>

</p-dialog>