<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

   <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>../logs/logfile-bart1-0.1.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->

    <logger name="com.test" level="DEBUG"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
<!-- Nous avons défini deux loggers, un pour le package "com.example" et un autre pour le package "org.springframework", avec différents niveaux de journalisation (DEBUG et INFO) -->
<!-- DEBUG, signifie que tous les messages de débogage, d'information, d'avertissement et d'erreur seront enregistrés dans le fichier de journalisation pour ce package. -->
<!-- INFO, signifie que seuls les messages d'information, d'avertissement et d'erreur seront enregistrés pour ce package. -->