<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center" />

<p-dataView #dv [value]="filteredProducts" [value]="products()" [paginator]="true" [rows]="2" layout="list">
  <ng-template pTemplate="list" let-products>
    <input type="text" pInputText placeholder="Rechercher..." [(ngModel)]="searchText" />
    @for (product of products; track product) {
    <p-card class="block mb-2">

      <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
      <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>

      <div class="text-sm text-700 mt-1">{{ product.description }}</div>
      <div class="text-lg font-bold text-primary mt-2">{{ product.price }} FCFA</div>

      <span class="text-xs" [ngClass]="{
          'text-green-500': product.inventoryStatus === 'INSTOCK',
          'text-orange-500': product.inventoryStatus === 'LOWSTOCK',
          'text-red-500': product.inventoryStatus === 'OUTOFSTOCK'
        }">
        {{ product.inventoryStatus }}
      </span>
      <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
      <div class="text-xs text-600 mt-1">Ajouté le : {{ product.createdAt | date:'short' }}</div>

      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)" />
          <p-button label="Ajouter au panier" severity="contrast" (onClick)="addToCart(product)" />
          <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
        </div>
      </ng-template>
    </p-card>
    }
  </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogAddTocart" [style]="{ width: '400px', borderRadius: '12px' }"
  contentStyleClass="flex flex-col p-5" [showHeader]="false">
  <div class="text-green-600 text-4xl">
    <i class="pi pi-check-circle"></i>
  </div>
  <p class="text-gray-600 mb-4">Le produit a été ajouté au panier avec succès.</p>
  <div>
    <p-button pButton [style]="{ height:'10px' }" type="button" (click)="closeDialogAddToCart()" label="Continuer"
      severity="help"></p-button>
  </div>

</p-dialog>

<p-dialog [(visible)]="isDialogVisible" [style]="{ width: '50vw' }" header="Ajout/Edition produit">
  <app-product-form [product]="editedProduct()" (save)="onSave($event)" (cancel)="onCancel()" />
</p-dialog>